:root {
    --primary-color: #3876DA;
    --secondary-color: #F8A81A;
    --grey-color: #B1B1B1;
    --grey-color-1: #868686;
    --color-bg-1: #f5f7fa;
    --color-bg-2: #EEEEEE;
    --color-bg-3: #F9F9F9;
    --heading-color-1: #253B6A;
    --text-color: #263B67;
    --font-family-inter: "Inter", sans-serif;
}
@media screen and (max-width: 1439px) {
    .open-bills-list .custom-tab-list-item-title {
        flex: 1 0 220px;
    }
    .open-bills-list  .custom-btn-fill a {
        padding: 16px !important;
    }
    .custom-tab-list-issue-date-wrapper, 
    .custom-tab-list-status-wrapper {
        flex: 1 1 auto;
    }
}
@media screen and (max-width: 1440px) {
    #access-document-accordion.accordion {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .granted-amount-text {
        font-size: 22px;
    }
    .card-img-sec-badge {
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 1380px) {
    .btn-payment-method img {
        width: 18px;
    }
    .btn-payment-method a {
        font-size: 12px;
        gap: 6px;
    }
}
@media only screen and (max-width: 1199px) {
    .custom-accordion.accordion {
        flex-wrap: wrap;
        gap: 20px;
    }
    .custom-accordion.accordion .accordion-item {
        flex: 0 0 48%;
    }
    .adjust-detail-card .max-width-418 {
        max-width: 100%;
    }
    .filters-section,
    .filters-section-inner-wrapper {
        flex-wrap: wrap;
        gap: 5px;
    }
    .conversation-card-messages-block {
        position: absolute;
        top: 20px;
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    aside {
        height: calc(100vh - 80px);
        top: 80px;
    }
    main {
        margin-left: 0;
    }
    .mob-header-logo {
        display: block;
    }
    .site-main-section {
        margin-left: 50px;
    }
    .site-sidebar {
        width: 50px;
        padding: 0;
        transition: 0.3s;
        overflow: hidden;
    }
    .site-sidebar:hover {
        width: 250px;
    }
    .site-sidebar-logo {
        display: none !important;
    }
    .site-sidebar .sidebar-menu-wrapper ul li a span{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .header-search-field,
    .header-settings {
        display: none;
    }
    .header-profile {
        width: 52px;
        height: 52px;
    }
}
@media only screen and (max-width: 767px) {
    .site-header, .site-main-section {
        padding: 0;
    }
    .mob-header-logo img {
        width: 90px;
    }
    h1 {
        font-size: 18px;
    }
    .header-notifications {
        width: 40px;
        height: 40px;
    }
    .header-profile {
        display: none;
    }
    .mob-profile {
        display: block;
    }
    .mob-profile img {
        width: 28px;
        height: 28px;
    }
    .card-content-title h3 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .granted-amount-text {
        font-size: 28px;
    }
    .custom-accordion.accordion {
        flex-wrap: wrap;
        gap: 20px;
    }
    .custom-accordion.accordion .accordion-item {
        flex: 0 0 100%;
    }
    .contracts-page .custom-tab-list-issue-date-wrapper, 
    .contracts-page .custom-tab-list-status-title {
        display: none;
    }
    .contracts-page .custom-tab-list-view-detail-btn a {
        color: var(--primary-color);
        padding: 0;
        border: none;
        margin-left: 10px;
        line-height: 18px;
    }
    .open-bills-list .custom-list-item{
        display: block;
    }
    #bills-tab-content .custom-tab-list-item-title-image {
        display: none;
    }
    #bills-tab-content .custom-tab-list-item-title-name {
        margin-bottom: 30px;
    }
    #bills-tab-content .custom-tab-list-issue-date-wrapper,
    #bills-tab-content .custom-tab-list-status-wrapper {
        display: flex;
        gap: 5px;
    }
    #bills-tab-content .custom-list-item {
        position: relative;
    }
    #bills-tab-content .custom-tab-list-view-detail-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .open-bills-list .custom-btn-fill a {
        padding: 6px 16px !important;
    }
    .paid-bills-list .custom-list-item {
        display: block;
    }
    .paid-bills-name-date {
        flex-direction: column-reverse;
    }
    #bills-tab-content .paid-bills-name-date .custom-tab-list-issue-date p{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        color: var(--text-color);
    }
    .paid-bills-list .custom-tab-list-view-detail-btn a {
        border: none;
        padding: 0;
        color: var(--primary-color);
    }
    .start-new-conversation-top-block {
        flex-wrap: wrap;
    }
    .start-new-conversation-top-block h2 {
        font-size: 16px;
    }
    .start-new-conversation-top-block .custom-btn-fill button {
        padding: 16px !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 676px) {
    .current-contracts-block .padding-20,
    .granted-amount-block .padding-20 {
        padding: 20px 8px;
        
    }
}
@media only screen and (max-width: 575px) {
    .current-contracts-block .padding-20,
    .granted-amount-block .padding-20 {
        padding: 20px 8px; 
    }
    .my-contracts-block {
        padding: 20px 8px;
    }
    .custom-detail-card {
        padding: 20px;
    }
    .custom-detail-list-item {
        padding: 6px;
    }
    .custom-detail-list-item h3,
    .notice-block h3 {
        font-size: 12px;
    }
    .notice-block {
        gap: 5px;
        padding: 10px 5px;
    }
    .notice-block img {
        width: 28px;
    }
    .notice-block h3 {
        line-height: 15px;
    }
    .document-preview-block {
        padding: 10px;
    }
    .document-preview-header h3 {
        font-size: 12px;
    }
    .document-preview-img {
        margin-top: 20px;
    }
    .btn-download {
        padding: 16px;
    }
    .custom-list-radio-btn  .form-check-label span {
        font-size: 14px;
    }
    .custom-list-radio-btn  .custom-detail-list-item {
        padding: 0 10px 0 6px;
        line-height: 40px;
    }
    .pay-bill-page .custom-btn-fill a {
        display: block;
        padding: 16px 6px !important;
        font-size: 12px;
    }
    .pay-bill-page .custom-detail-block-radio-btns {
        margin-bottom: 30px;
    }
    .or-with-lines p:before,
    .or-with-lines p:after {
        width: calc((100% / 2) - 50px);
    }
    .adjust-detail-card .custom-btn-fill button {
        padding: 16px !important;
    }
    .filter-search {
        width: 250px;
        flex: 1 1 auto;
        padding: 0 8px 0 10px;
    }
    .max-distance-filter {
        padding: 0 10px;
    }
    .filter-search input {
        font-size: 12px;
    }
    .filter-search span {
        font-size: 13px;
    }
    .custom-nav-tabs .nav-link {
        padding: 0 10px 10px 10px;
    }
}
@media only screen and (max-width: 475px) {
    .custom-list-select select {
        padding: 0 10px;
        font-size: 13px;
        line-height: 40px;
    }
    .payment-plan-criteria-heading {
        gap: 6px;
        font-size: 14px;
    }
    .payment-plan-criteria {
        padding: 10px;
    }
    .payment-plan-criteria-list-item {
        font-size: 12px;
    }
    .deposit-detail-list .custom-detail-list-item {
        flex-wrap: wrap;
        padding: 6px 8px;
    }
    .custom-list-detail-item-title img {
        width: 20px;
    }
    .deposit-detail-list .custom-list-detail-item-title h3, .deposit-detail-list .custom-list-detail-item-info h3 {
        font-size: 14px;
    }
    .deposit-detail-list .custom-list-detail-item-title {
        gap: 5px;
    }
    .deposit-detail-list .custom-list-detail-item-info h3 {
        margin-left: 25px;
    }
    .tabs-card-wrapper .custom-list-item {
        padding: 10px;
    }
    .tabs-card {
        padding: 37px 5px 50px 5px;
    }
    .tabs-card .custom-tab-list-item-title-name h4 {
        font-size: 14px;
    }
    .tabs-card .custom-tab-list-item-title-address h4 {
        font-size: 13px;
    }
    .custom-status p {
        font-size: 13px;
    }
    .contracts-page .custom-tab-list-view-detail-btn a {
        font-size: 12px;
    }
}
@media only screen and (max-height: 620px) {
    .site-sidebar .nav-pills .nav-link {
        line-height: 40px;
    }
}