:root {
    --royal-blue: #3876DA;
    --primary-color: #F8A81A;
    --secondary-color: #253B6A;
    --gray-color: #505A59;
    --bg-grey-color: #F4F4F4;
}
body {
    font-family: "Inter", sans-serif;
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 54px;
    line-height: 75px;
    font-weight: 700;
    color: var(--secondary-color);
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    line-height: 41px;
    font-weight: 700;
    color: var(--secondary-color);
}
h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: var(--primary-color);
}
p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--gray-color);
}
.custom-btn {
    font-size: 16px;
    line-height: 46px;
    font-weight: 700;
    border-radius: 10px;
    color: var(--secondary-color);
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
}
.solid-btn {
    color: white;
    background-color: var(--primary-color);
}
.custom-arrow-btn {

}
/* header */
.sticky .site-header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 74px;
    z-index: 2;
}
/* top bar  */
 .topbar {
    background-color: var(--royal-blue);
    padding: 24px 0;
}
.top-header-conntact-block {
    display: flex;
    gap: 20px;
    align-items: center;
}
.top-header-conntact-block p {
    color: white;
    margin-bottom: 0;
}
.topbar .top-header-conntact-block a {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
    text-decoration: none;
}
.top-header-social-block ul {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.top-header-social-block ul li {
    width: 22px;
    line-height: 20px;
    text-align: center;
}
.top-header-social-block ul a {
    color: white;
}
/* site header */
.site-header {
    padding: 33px 0;
}
.header-logo img {
    width: 208px;
}
.site-header-menu a {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1rem;
}
.header-cta {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
}
.header-cta .form-select {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
}
.header-cta .custom-btn  {
    width: 148px;
    flex: 1 1 148px;
    line-height: 46px;
    padding: 0;
    margin: 0;
}
.vertical-bar {
    width: 1px;
    background-color: rgba(37, 59, 106, 0.30);
}
.site-header-menu .dropdown-menu.show {
    border: none;
    margin-top: 38px !important;
    border-top: 3px solid var(--royal-blue);
    border-radius: unset;
}
.site-header-menu .dropdown-menu .dropdown-item span {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}
.site-header-menu .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    color: var(--gray-color);
}
.site-header-menu .dropdown-divider {
    margin: 0 17px 10px 17px;
}
.nav-link.dropdown-toggle.show {
    color: var(--royal-blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* sticky header */
.sticky .topbar {
    display: none;
}
.sticky .site-header {
    top:0;
}
/* mobile nav */

/* hero section */
.sticky ~ main .hero-section  {
    padding: 283px 0 658px 0;
}
.hero-section {
    padding: 83px 0 658px 0;  
}
.hero-section-image img {
    width: 100%;
}
.bg-grey {
    background-color: var(--bg-grey-color);
}
.hero-section-content h3 {
    margin-bottom: 20px;
}
.hero-section-content h1 {
    margin-bottom: 30px;
}
.hero-section-content p {
    margin-bottom: 55px;
}
.learn-more-btn {
    width: 194px;
}
/* calculation section */
.calculation-section {
    background-image: url(../images/bg/bg-1.png);
    background-size: cover;
    border-radius: 10px;
    padding: 42px 153px 42px 123px;
}
.calculation-section h2 {
    color: white;
}
.calculation-amount-list-wrapper {
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    padding: 0 33px;
    background-color: white;
}
.calculation-amount-list-item {
    border-bottom: 1px solid var(--primary-color);
}
.calculation-amount-list-item:last-child {
    border-bottom: none;
}
.calculation-section-wrapper {
    margin-top: -558px;
}
.calculation-amount-list-item {
    padding: 30px 0 20px 0;
}
.calculation-amount-list-item p {
    margin-bottom: 0;
}
.calculation-amount {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px !important;
}
.calculation-amount span {
    font-weight: 700;
}
.calculation-input-wrapper {
    color: white;
}
.calculation-input-wrapper .form-select,
.calculation-input-wrapper .input-group-text ,
.calculation-input-wrapper .form-control  {
    background-color: transparent;
    color: white;
}
.calculation-input-wrapper .form-select {
    border-radius: 30px;
    padding: 0 26px;
    line-height: 36px;
    --bs-form-select-bg-img: url(../images/icons/down-arrow.png) 
}
.calculation-input-wrapper .form-select option {
    color: black;
}
.form-control:focus {
    box-shadow: none;
}
.calculation-input-wrapper .input-group input ,
.calculation-input-wrapper .input-group span {
    border: none;
    padding: 0;
    line-height: 36px;
}
.calculation-input-wrapper .input-group span {
    padding-right: 10px;
}
.calculation-input-wrapper .input-group {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 26px;
}
.calculation-input-wrapper {
    padding: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px;
    background-color: var(--primary-color);
    width:24px;
    height: 25px;
}
.flexible-amount-min-max-values {
    display: flex;
    justify-content: space-between;
}
.flexible-amount-min-max-values p {
    color: white;
}
.calculation-section-wrapper .custom-btn {
    background-color: var(--primary-color);
    width: 360px;
    border: none;
    color: white;

}
/* cards  */
.custom-cards-wrapper {
    padding: 69px 0;
    margin-top: 60px;
}
.custom-card {
    text-align: center;
    padding: 37px 0 30px 0;
    border: none;
    border-radius: 10px;
}
.card-icon {
    width: 100px;
    height: 60px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-card h3 ,
.custom-card p {
    color: white;
}
.custom-card-title {
    height: 170px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.custom-card h3 {
    margin-bottom: 0;
}
.custom-card-text {
    height: 87px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-card p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}
.card-bg-1 {
    background-color: #14A4FF;
}
.card-bg-2 {
    background-color: #2E4D8B;
}
.card-bg-3 {
    background-color: #3AAFAB;
}
.card-bg-4 {
    background-color: #F8A81B;;
}
.custom-card .custom-arrow-btn {
    width: 100%;
    border: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*  */
/* home page about section */
.home-page-about-section {
    background-image: url(../images/bg/bg-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; 
    padding-bottom: 79px;
}
.home-page-about-inner-wrapper {
    padding: 70px 90px 100px 90px;
}
.home-page-about-section .container {
    box-shadow: 0px 4px 13.7px 0px rgba(0, 0, 0, 0.251);
    background-color: #F3F7FF;
    border-radius: 10px;
}
.calculation-heading {
    text-align: center;
    margin-bottom: 60px;
}
.calculation-heading h3 {
    max-width: 530px;
}
.home-page-about-inner-wrapper hr {
    margin: 80px 0 60px 0;
}
.about-section-text  {
    margin-top: 40px;
    margin-bottom: 49px ;
}
.about-section-image img{
    width: 100%;
}
.about-section-image {
    padding-left: 50px; 
}
.about-section-image.image-right-padding {
    padding-left: 0;
    padding-right: 50px;
}
/* testimonial section */
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
}
.testimonial-section {
    background-image: url(../images/bg/bg-2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 380px;
}
.testimonial-section .container {
    box-shadow: 0px 4px 13.7px 0px rgba(0, 0, 0, 0.251);
    background-color: var(--royal-blue);
    border-radius: 10px;
}
.testimonial-inner-wrapper {
    padding: 70px 90px 100px 90px;
}
.testimonial-inner-wrapper h2 {
    color: white;
    padding-top: 10px;
}    
.testimonial-owl-carousel-wrapper { 
    padding-top: 56px; 
}
.testimonial-owl-carousel .item {
    background-color: white;
    padding: 21px 23px;
    box-shadow: 0px 2px 8px 0px #63636333;
    border-radius: 10px;
}
.testimonial-user-info {
    display: flex;
    gap: 20px;
}
.testimonial-owl-carousel .item .user-image img {
    width: 70px;
    height: 72px;
    border-radius: 0 0 30px 0;
}
.testimonial-user-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.testimonial-user-address {
    margin-bottom: 0;
    color: #636B6A;
}
.testimonial-rating {
    color: #FFB840;
}
.user-comment {
    padding: 25px 0 11px 0;
    color: #636B6A;
    font-style: italic;
}
.owl-theme.testimonial-owl-carousel .owl-nav {
    margin-top: 0;
    position: absolute;
    top: -100px;
    right: 0;
}
.owl-theme.testimonial-owl-carousel .owl-nav button span{
    font-size: 35px;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: block;
}
/* blogs section */
.blog-section {
    padding: 70px 0 0 0;
}
.blog-inner-wrapper .blog-card {
    border: none;
    box-shadow: 0px 4px 40px 0px #00000026;
    background-color: white;
    border-radius: 10px;
}
.blog-card h3 {
    color: var(--secondary-color);
}
.blog-card .blog-card-content {
    padding: 26px 21px 20px 21px;
}
.blog-inner-wrapper .blog-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog-card-content p {
    color: #636B6A;
}
.blog-card-content button {
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/* footer */
footer{
    background-color: var(--royal-blue);
    margin-top: 90px;
}
.site-footer {

}
.site-footer-menu a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1rem;
}
.footer-logo img {
    width: 208px;
}
.footer-cta {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
}
.footer-cta .form-select {
    --bs-form-select-bg-img: url(../images/icons/down-arrow.png)
}
.footer-cta .form-select {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1rem;
    border: none;
    background-color: var(--royal-blue);
    color: white;
}
.footer-cta .custom-btn  {
    width: 148px;
    flex: 1 1 148px;
    line-height: 46px;
    padding: 0;
    margin: 0;
    border: none;
}
.footer-menu-title h3 {
    color: white;
    margin-bottom: 30px;
} 
.footer-menu ul {
    list-style: none;
    padding: 0;
}
.footer-menu li a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 25px;
}
.footer-about-text p {
    color: white;
}
.footer-menu-contact li  {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.footer-menu-contact li span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-right: 10px;
}
.footer-top-section {
    padding: 65px 0;
    border-bottom: 1px solid #D4D4D4;
}
.footer-middle-section {
    padding: 78px 0 100px 0;
    border-bottom: 1px solid #D4D4D4;
}
.footer-about-text {
    max-width: 430px;
}
.footer-bottom-section {
    padding: 30px 0;
}
.footer-bottom-section ul li a,
.footer-bottom-section p {
    color: white;
}
.footer-social-block ul {
    display: flex;
    gap: 36px;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    padding-right: 10px;
}
footer .vertical-bar {
    color: white;
}
/* media queries */
@media only screen and (max-width: 1280px) {
    .testimonial-owl-carousel-wrapper {
        padding-top: 80px;
    }
    .owl-theme.testimonial-owl-carousel .owl-nav {
        top: -80px;
    }
}
@media only screen and (max-width: 1080px) {
    .calculation-section {
        padding: 42px 50px 42px 50px;
    }
    .home-page-about-inner-wrapper {
        padding: 70px 50px 100px 50px; 
    }
    .testimonial-inner-wrapper {
        padding: 70px 50px 100px 50px;
    }
}
@media only screen and (max-width: 992px) {
    .header-logo img {
        width: 150px;
    }
    .footer-logo img {
        width: 150px;
    }
}
@media only screen and (max-width: 991px) {
    .footer-social-block ul {
        justify-content: center; 
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .calculation-section-wrapper .custom-btn {
        width: 100%;
    }
}