:root {
    --primary-color: #3876DA;
    --secondary-color: #F8A81A;
    --grey-color: #B1B1B1;
    --grey-color-1: #868686;
    --color-bg-1: #f5f7fa;
    --color-bg-2: #EEEEEE;
    --heading-color-1: #253B6A;
    --text-color: #263B67;
}
body {
    font-size: "Inter", sans-serif;
}
h1 {
    font-size: 28px;
    font-weight: 600;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px; 
}
p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}
.link-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white; 
    text-decoration: none;
}
.btn-arrow {
    font-size: 14px;
}
.bg-white {
    background-color: white;
}
.bg-gray-1 {
    background-color: var(--color-bg-2);
}
.border-radius-6 {
    border-radius: 6px;
}
.padding-20 {
    padding: 20px;
}
/* sidebar */
aside {
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
.dropdown-toggle { 
    outline: 0; 
} 
.scrollarea {
    overflow-y: auto;
}
.site-sidebar {
    width: 250px;
    padding: 24px 37px 133px 37px;
    border-right: 1px solid #E6EFF5;
    position: fixed;
}
.site-sidebar-logo {
    margin-bottom: 38px;
}
.site-sidebar-inner-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.site-sidebar .nav-pills .nav-link {
    padding: 0 0 0 8px;
    line-height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}
.site-sidebar  a.nav-link.active:before {
    content: "";
    height: 60px;
    width: 6px;
    background-color: #3876DA;
    position: absolute;
    top: 0;
    left: -39px;
    border-radius: 0 10px 10px 0;
}
.site-sidebar .nav-pills .nav-link span {
    margin-left: 27px;
}
.site-sidebar .nav-pills .nav-link.active, 
.site-sidebar .nav-pills .show>.nav-link {
    color: #3876DA;
    background-color: transparent;
}
.site-sidebar .nav-pills .nav-link.active img, 
.site-sidebar .nav-pills .show>.nav-link img,
.site-sidebar .nav-link:hover img {
    filter: invert(46%) sepia(78%) saturate(3722%) hue-rotate(203deg) brightness(91%) contrast(86%);
}
.site-sidebar a.nav-link:hover {
    color: var(--primary-color) !important;
}
.sidebar-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
/* main */
main {
    margin-left: 250px;
}
.site-header {
    background-color: white;
    border-bottom: 1px solid #E6EFF5;
}
.site-header-inner-wrapper {
    padding: 20px 0;
}
.site-header-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header-search-field {
    position: relative;
}
.header-search-field input {
    background-color: #F5F5F5;
    width: 255px;
    border-radius: 40px;
    padding: 0 10px 0 60px;
    line-height: 50px;
}
.header-search-field .search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 20px;
    transform: translateY(-50%);
}
.header-settings,
.header-notifications {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.header-settings img,
.header-notifications img {
    width: 25px;
}
.header-profile {
    border-radius: 50px;
    width: 62px;
    height: 62px;
    border: 2px solid #3876DA;
}
.header-profile img {
    width: 100%;
}
.site-main-section {
    background-color: var(--color-bg-1);
}
.my-contracts-block {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 9.5px 0px #0000003D;
    margin-top: 20px;

}
.contract-count p {
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    color: var(--text-color);
}
.granted-amount-block {
    padding-left: 1px;
}
.granted-date p {
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    padding-left: 12px;
}
.granted-date p::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #F73737;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.granted-amount-text {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
}
.granted-amount-currency {
    color:var(--grey-color-1);
}
.granted-amount-number {
    color: var(--text-color);
}
.avatar-group {
    display: flex;
}
.avatar {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0;
    margin-left: -10px;
    background: var(--primary-color);
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar:first-child {
    margin-left: 0; 
}
.avatar-text {
    color: white;
    font-size: 8px;
    font-weight: 500;
}
.my-contracts-block .block-title{
    color: white;
}
.firstees-block {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #D3E9FF;
    border: 1px solid #E6EFF5;
}
.firstees-block .block-title,
.my-bills-block .block-title {
    color: var(--heading-color-1);
}
.firstees-block .link-btn,
.my-bills-block .link-btn {
    color: var(--heading-color-1);
}
.firstees-card {
    border-radius: 6px;
    border: none;
    margin-top: 25px;
}
.firstees-card .card-img {
    max-height: 331px;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}
.firstees-card .card-img img {
    width: 100%;
    height: 100%;
}
.card-content {
    padding: 15px 19px 13px 19px;
}
.card-content-badge{
    color: var(--grey-color-1);
    background-color: #EEEEEE;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 4px;
    padding: 0 8px;
}
.card-content-badge .badge-text{ 
    color: var(--text-color);
}
.card-content-badge .badge-separator { 
    color: #E0E0E0;
}
.card-content-title h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
}
.card-content-text p {
    font-size: 14px;
    font-weight: 400; 
    margin-bottom: 0;
}
.card-img-top-sec {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #3E3E3E 100%);
    height: 80px;
    position: absolute;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 11px 16px 0 13px;
}
.card-price-badge span {
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    border-radius: 4px;
    padding: 0 8px;
    color: var(--text-color);
    display: block;
}
.card-heart-icon {
    color: white;
    font-size: 21px;
}
.payment-methods-block {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E6EFF5;
    margin-top: 20px;
}
.btn-payment-method a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    line-height: 37px;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: var(--grey-color-1);
}
.my-bills-block {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E6EFF5;
    margin-top: 20px;
}
.bill-list-item {
    display: flex;
    align-items: center;
    gap: 17px;
    background-color: #F9F9F9;
    border-radius: 6px;
    padding: 25px 20px;
}
.bill-list-icon {
    flex: 0 0 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #EBF4FF;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bill-list-icon img {
    width: 24px;
    height: 24px;
}
.bill-type {
    flex: 1 1 auto;
}
.bill-count {
    flex: 0 0 60px;
}
.bill-type h4,
.bill-type p {
    margin-bottom: 0;   
}
.bill-type p {
    color: var(--grey-color-1);
}
.bill-count p {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}



.my-deposit-block {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E6EFF5;
    margin-top: 20px;
}
.my-deposit-list-item {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 11px 20px;
    border-bottom: 1px solid #EAEAEA;
}
.my-deposit-list-item:last-child {
    border-bottom: none;
}
.my-deposit-list-icon {
    flex: 0 0 24px;
}
.my-deposit-list-icon img {
    width: 24px;
    height: 24px;
}
.my-deposit-type {
    flex: 1 1 auto;
}
.my-deposit-count {
    flex: 0 0 60px;
}
.my-deposit-type h4,
.my-deposit-amount h4 {
    margin-bottom: 0;  
    color: var(--grey-color-1); 
    font-weight: 500;
    line-height: 23px;
}
.my-deposit-amount h4 {
    color: var(--text-color);
}


.messages-block {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E6EFF5;
    margin-top: 20px;
}
.messages-list-item {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 12px 0;
    border-bottom: 1px solid #EAEAEA;
}
.messages-list-item:last-child {
    border-bottom: none;
}
.messages-list-icon {
    flex: 0 0 64px;
    border-radius: 50%;
}
.messages-list-icon img {
    width: 64px;
    height: 64px;
}
.messages-type {
    flex: 1 1 auto;
}
.messages-time {
    flex: 0 0 60px;
}
.messages-type h4,
.messages-type p {
    margin-bottom: 0;   
}
.messages-type p {
    color: var(--grey-color-1);
}
.messages-time p {
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 0;
}
/* contracts page */
.tabs-card {
    border: 1px solid #E6EFF5;
    background-color: white;
    padding: 37px 21px 50px 21px;
    margin-top: 30px;
    margin-bottom: 56px;
}
#contract-tab {
    border-bottom: none;
}
#contract-tab .nav-link {
    padding: 0 34px 14px 34px;
    border: none;
    border-bottom: none;
    position: relative;
}
#contract-tab .nav-link.active:before {
    content: "";
    background-color: #3876DA;
    width: 100%;
    height: 3px;
    border-radius: 10px 10px 0 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tab-content {
    margin-top: 50px;
}
.contract-list {
    background-color: #F9F9F9;
    border-radius: 6px;
}
.contract-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-bottom: 1px solid #E6EFF5;
}
.contract-list-item:last-child {
    border-bottom: none;
}
.contract-user {
    display: flex;
}
.contract-user-name h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 0;
}
.contract-issue-date-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--grey-color-1);
    margin-bottom: 8px;
}
.contract-issue-date p {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
}
.contract-user {
    display: flex;
    align-items: center;
    gap: 12px;
}
.contract-status-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 4px;
}
.contract-status p {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    margin-bottom: 0;
    padding-left: 10px;
}
.contract-status p:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.contract-status-active p {
    color: #34C759;
}
.contract-status-active p::before {
    background-color: #34C759;
}
.contract-status-pending p {
    color: #EEC23E;
}
.contract-status-pending p::before {
    background-color: #EEC23E;
}
.contract-status-closed p {
    color: #F73737;
}
.contract-status-closed p::before {
    background-color: #F73737;
}
.contract-view-detail-btn a {
    border: 1px solid #919191;
    text-decoration: none;
    color: #919191;
    padding: 0 30px;
    line-height: 35px;
    display: block;
    border-radius: 4px;
}
.contract-view-detail-btn a:hover {
    border: 1px solid #3876DA;
    color: #3876DA;
}
.contract-issue-date-wrapper,  .contract-status-wrapper {
    flex: 0 0 25%;
}
.contract-user {
    flex: 1 1 25%;
}